.containerNav{
    width: 160px;
    height: 100vh;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 0 5vh 0;
    font-size: 21px;


    && .navList {
        list-style: none;

        && .navLink{
            color: var(--white);
            font-weight: 400;
            margin-top: 4vh;
            text-align: center;
            transition: all 0.3s;
            cursor:pointer;

            && .icon{
                font-size:35px;
                margin-bottom:1vh;
            }

            &&:hover{
                color: var(--terciary);
            }
        }
    }
}