.sectionButton{
    padding: .5vh;
    min-width: 100px;
    color: var(--terciary);
    font-weight: 600;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--terciary);
    margin-right: 1.5vh;
    cursor: pointer;
    font-size: 14px;
}

.sectionButton:focus{
    color: var(--secondary);
    border-bottom:2px solid var(--secondary);
}